.input {
    display: flex;
  
    margin-bottom: 0.5rem;
    padding: .5rem;
  }
  .input label {
    font-weight: bold;
    margin-right: 1rem;
  }
  .input input {
    width: 15rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font: inherit;
    padding-left: 0.5rem;
  }

alert{
  display: flex;
  justify-content: center;
  margin-top: -23rem;
  padding: 5rem;
  background-color: rgb(200, 199, 199);
  color: black;
}